.meal{
    cursor: pointer;
}
.meal-layer1{
    background-color: rgba(255, 255, 255, 0.726) !important;
    width: 100%;
    height: 100%;
    top: 100% !important;
    transition: all .7s;
}
.meal:hover .meal-layer1{
    top: 0 !important;
}
main{
    min-height: 100vh;
    height: auto;
}

.containera1{
    width: 80%;
    margin: auto;
}

.a1{
    z-index: 222;
    width: 290px !important;
    left: -220px ;
}
.part1{
    width: 80%;
}
.part2{
    width: 20%;
}
.logo{
    width: 50px;
}
.nav-iconn,.nav-footer{
    bottom: 10px;
}
.links{
    height: 250px;
}
.links li{
    top: 300px;
}

@media (max-width:600px) {
    .containera1{
        width: 70%;
        margin-left: 80px;
    }
}


.nnn{
    cursor: pointer;
}

#search .form-control{
    color: white !important;
    background-color: transparent;
}
#search .form-control::placeholder{
    color: rgb(133, 130, 130);
}
#search .form-control:focus {
    background-color: transparent;
}

.loading-screen {
    position: absolute;
    z-index: 9999;
    background-color: #0D0D0D;
    color: white;
    display: flex;
}
.bg-cold{
    background-color: #cff4fc;
    color: black !important;
}
.alert-danger{
    background-color: #f8d7da;
}

.myy-5{
    margin-top: 19rem !important;
    margin-bottom: 3rem !important;
}
.top-12{
    width: 70%;
}
.ts{
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}

@media (max-width:767px) {
    .myy-5{
        margin-top: 8rem !important;
    }
}

.btncon{
    width: 80px;
    margin: auto;
}